<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mybatis.dao.StudentMapper">

    <resultMap id="studentMap" type="Student">
        <id column="id" property="id"></id>
        <result property="studentName" column="student_name"/>
        <result property="studentNum" column="student_num"/>
        <result property="age" column="age"></result>
        <result property="gender" column="gender"></result>
        <association property="grade" javaType="Grade">
            <id column="grade_id" property="id"></id>
            <result property="gradeName" column="grade_name"></result>
        </association>
    </resultMap>

    <select id="queryStudent"  resultMap="studentMap">
        SELECT s.*,g.grade_name,g.id
        FROM
        student s,grade g
        WHERE
        s.grade_id=g.id
    </select>
    <select id="queryStudentByGradeId_array" resultMap="studentMap">
        SELECT * FROM  student WHERE grade_id IN
        <foreach collection="array" item="gradeId" open="(" separator="," close=")">
            #{gradeId}
        </foreach>
     </select>
    <select id="queryStudentByGradeId_list" resultMap="studentMap">
        SELECT * FROM  student WHERE grade_id IN
        <foreach collection="list" item="gradeId" open="(" separator="," close=")">
            #{gradeId}
        </foreach>
    </select>
    <select id="queryStudentByGradeId_map" resultMap="studentMap">
    SELECT *
    FROM  student
    WHERE
    gender=#{gender}
    and
    grade_id IN
    <foreach collection="gradeIds" item="gradeId" open="(" separator="," close=")">
        #{gradeId}
    </foreach>
      </select>
    <select id="queryStudent_choose" resultMap="studentMap" >
        SELECT * FROM student
        WHERE 1=1
        <choose>
            <when test="name!=null and name!=''">
                AND student_name like concat('%',#{name},'%')
            </when>
            <when test="gender!=null and gender!=''">
                AND gender=#{gender}
            </when>
            <otherwise>
                and age=#{age}
            </otherwise>
        </choose>
    </select>
</mapper>