<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.dao.TuserMapper">
    <resultMap id="tuserMap" type="Tuser">
        <id property="id" column="id"/>
        <result column="user_name" property="userName"/>
        <result property="nickName" column="nick_name"></result>
    </resultMap>
    <select id="login" resultMap="tuserMap" parameterType="Tuser">
        SELECT * FROM t_user WHERE user_name=#{userName} and password=#{password}
    </select>
    <select id="queryAll" resultMap="tuserMap" parameterType="Tuser">
        SELECT * FROM t_user ORDER BY id
    </select>


</mapper>