<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.dao.StudentMapper">
    <resultMap id="studentMap" type="Student">
        <id column="id" property="id"/>
        <result column="student_num" property="studentNum"/>
        <result column="student_name" property="studentName"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
        <association property="grade" resultMap="gradeMap"></association>
    </resultMap>
    <resultMap id="gradeMap" type="Grade">
        <id column="g_id" property="id"/>
        <result property="gradeName" column="grade_name"/>
    </resultMap>
    <select id="queryAll" resultMap="studentMap">
        SELECT s.*,g.id g_id,grade_name
        FROM student s,grade g
        WHERE
        s.grade_id=g.id
        ORDER BY
        s.id DESC
    </select>
    <delete id="deleteStudentByIds" >
        DELETE FROM student WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <insert id="addStudent" parameterType="Student">
        INSERT INTO student
        VALUES
        (NULL ,#{}grade.id},#{studentName},#{gender},#{age},#{studentNum})
    </insert>
    <select id="queryStudentById" parameterType="Integer" resultMap="studentMap">
        SELECT s.*,g.id g_id,g.grade_name
        FROM student s.grade g
        WHERE
        s.grade_id=g.id
        AND
        s.id =#{id}
    </select>
    <update id="updateStudent"parameterType="Student">
        update student
        SET
        grade_id=#{grade.id}
        student_name=#{studentName}
        gender=#{gender}
        age=#{age}
        where
        id=#{id}
    </update>


</mapper>